*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 800px;
    background-image: url(./hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer_down{
    border-top: 1px solid #212529;;
}

.fa-twitter{
    color: rgb(61, 61, 182);
}

.fa-linkedin-square{
    color: rgb(37, 65, 189);
}

.fa-facebook-square{
    color: rgb(14, 14, 90);
}

.fa-instagram{
    color: rgba(165, 14, 102, 0.534);
}

.third_box{
    background: rgba(255, 192, 192, 0.1);
}

.third_box-inner{
    background-color: #fff !important;
}